<div class="score-container">
    <% if @result %>
    <% if @english_word %>
        <p class='result-title'>Congratulations!</p>
        <p class='valid-word'><span class='choosen-word'><%= @word %></span> is a valid English word!</p>
    <% else %>
        <p class='result-title'>Sorry</p>
        <p class='valid-word'><span class='choosen-word'><%= @word %></span> does not seem to be a valid English word...</p>
    <% end %>
    <% else %>
        <p class='result-title'>Sorry</p>
        <p class='valid-word'><span class='choosen-word'><%= @word %></span> can't be built out of <strong><%= @letters %></strong></p>
    <% end %>
    <%= link_to "Play again", new_path %>
</div>
